<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}

    <body>    
        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/materialize.min.js"></script>
        <script src="/js/bin/app-min.js"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-78E22RPN7H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-78E22RPN7H');
        </script>
    </body>
</html>