{{ define "main" }}
<section class="slider">
    <ul class="slides">
        <li>
            <img src="/images/slide1-small.png" alt="Swift, React Native &amp; Firebase" class="slide1 hide-on-med-and-down responsive-img">
            <img src="/images/slide1-mobile.png" alt="Swift, React Native &amp; Firebase" class="slide1-mobile responsive-img">
            <div class="caption center-align">
                <h3>Also,
                    <span class="red-title">REACT Native</span> Solutions</h3>
            </div>
        </li>
        <li>
            <img src="/images/slide2-small.png" alt="Elegant &amp; Innovative Web Apps" class="slide2 hide-on-med-and-down responsive-img">
            <img src="/images/slide2-mobile.png" alt="Elegant &amp; Innovative Web Apps" class="slide2-mobile responsive-img">
            <div class="caption left-align">
                <h3>Innovative
                    <span class="red-title">REACT JS</span> Web Apps</h3>
            </div>
        </li>
    </ul>
</section>
<div class="divider"></div>
<section class="row intro">
    <a id="intro"></a>
    <div class="container">
        <div class="col s12 m12 l8 offset-l4 content">
            <div class="wrapper">
                <h2>
                    <span class="bold-grey">Modern, reliable, economical</span>
                </h2>
                <p>From neighborhood businesses to Fortune 500 companies and government contractors, the Simple Software
                    Solutions team brings our clients’ ideas to life.</p>
                <p>Our team tackles each project with innovative technical savvy, crafting customized software solutions
                    that move ideas from the drawing board into seamless and reliable mobile and web applications.</p>
                <p>We measure success by our clients’ outcomes — that’s our incentive:
                    <strong>turning complex problems into simple software solutions from end to end</strong>.</p>
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>
<section class="row yellow">
    <a id="what"></a>
    <div class="container">
        <div class="col s12">
            <div class="wrapper">
                <img class="responsive-img mobile-align-right" src="/images/what-we-do.png" width="598" alt="What We Do">
                <h2>
                    <span class="bold-grey">What We</span>
                    <span class="bold-red"> Do</span>
                </h2>
                <p>Our team focuses on creating mobile applications for iOS, Android, and Windows using
                    <strong>React Native</strong>. We also excel at crafting responsive
                    <strong>web applications</strong> with
                    <strong>React JS</strong>, Material-UI, and related technologies.</p>
                <p>When
                    <strong>native performance</strong> is required, beyond that which React Native can deliver, we use the latest
                    <strong>iOS</strong> (Swift, Objective-C, Cocoa Touch) and
                    <strong>Windows</strong> (XAML, C#, WinJS)
                    <strong>mobile technologies</strong>, all coupled with our
                    <strong>server-side</strong> solutions (Node, Express, MongoDB, Firebase, PostgreSQL, MySQL, SQL Server).
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="divider"></div>
<section class="row">
    <a id="how"></a>
    <div class="container">
        <div class="col s12">
            <div class="wrapper">
                <h2>
                    <span class="bold-grey">How We</span>
                    <span class="bold-red"> Do It</span>
                </h2>
                <p>Our team’s expertise in client-side technologies and server-side solutions ensures a seamless interface
                    and a cohesive application. Mind you, our "rookie" team members have 10+ years of experience but
                    our experts have 25+.</p>
                <p>We typically work on an
                    <strong>hourly</strong> basis but we can quote you a
                    <strong>fixed price</strong> if you have done most of the legwork and have clearly defined what you want
                    done.
                </p>
                <p>Heck, we would even be open to a partnership!</p>
                <br>
                <img class="responsive-img mobile-align-left" src="/images/client.png" width="400" alt="How we do it">
                <h2>
                    <span class="bold-grey">On the</span>
                    <span class="bold-red"> client</span>
                </h2>
                <p>No matter the size or complexity of the project, our
                    <strong>expert team</strong> will match it with the right tools to make your idea a reality. Sometimes
                    <strong>hybrid mobile</strong> or
                    <strong>pure web</strong> solutions are more economical—but if speed, responsiveness, and fluidity are priorities,
                    we lean toward the robust precision of
                    <strong>React Native</strong> or even
                    <strong>100% native solutions</strong>, if necessary.</p>
                <p>For mobile iOS & Android projects we instintively gravitate toward
                    <strong>React Native</strong>, but we have also embraced the
                    <strong>Ionic + Angular</strong> stack from time to time as an alternative viable solution.</p>
                <div class="ver-spacer-mid"></div>
                <img class="responsive-img mobile-align-right" src="/images/server.png" width="500" alt="On the server">
                <h2>
                    <span class="bold-grey">On the</span>
                    <span class="bold-red"> server</span>
                </h2>
                <p>When faced with an unwieldy legacy infrastructure, we simply drop in a
                    <strong>GraphQL solution</strong> service, acting as a middle-man, sporting a unifying schema for a fluid
                    exchange between your application and the back-end services.</p>
                <p>Because our team has designed many systems utilizing Node JS paired with Express, Hapi, GraphQL, and
                    Mongo DB, PostgreSQL, or MySQL,
                    <strong>creating back-end solutions</strong> with these technologies
                    <strong>is like riding a bike for us</strong>.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="divider"></div>
<section class="row green-pastel">
    <a id="modus"></a>
    <div class="container">
        <div class="col 12">
            <div class="wrapper">
                <img class="responsive-img mobile-align-left" src="/images/modus.jpg" width="515" alt="Our Modus Operandi">
                <h2>
                    <span class="bold-grey">Our Modus</span>
                    <span class="bold-red"> Operandi</span>
                </h2>
                <p>Simple Software Solutions is led by Carlos Portela, a veteran of the software development industry.</p>
                <p>Backing up his 25+ years of experience in the field is a
                    <strong>core team</strong> of developers with a
                    <strong>solid track</strong> record of
                    <strong>delivering</strong> reliable software development
                    <strong>projects</strong>.</p>
                <p>SSS partners with clients to turn their ideas into elegant,
                    <strong>innovative, and tangible applications</strong>. From end-to-end, your software project is in
                    <strong>capable hands</strong>.</p>
                <p>To email Carlos to discuss your project's needs please click
                    <script type="text/javascript">
//<![CDATA[
<!--
var x = "function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
                            "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
                            " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!01)9t{yrx{=+;x+ll" +
                            "=};acct(h)e}{f}roi(l=1-i;=>;0-i)-o{=+.xhcratAi(;)r}teru n.oussbrt0(o,)l};(f" +
                            ")\\\"14\\\\,E\\\"16\\\\0%\\\\$'a<2Q00\\\\\\\\|{jc\\\\>\\\\\\\\b\\\\ampj=a0]" +
                            "01\\\\\\\\30\\\\03\\\\03\\\\\\\\\\\\r6\\\\02\\\\\\\\30\\\\05\\\\02\\\\\\\\3" +
                            "U03\\\\\\\\07\\\\0R\\\\32\\\\03\\\\02\\\\\\\\06\\\\02\\\\00\\\\\\\\N.W714\\" +
                            "\\04\\\\00\\\\\\\\23\\\\07\\\\01\\\\\\\\21\\\\0D\\\\>A17\\\\07\\\\01\\\\\\\\" +
                            "*61<.2=*\\\\w\\\\\\\"6\\\\91#=00\\\\0r\\\\.:!)<(x;*+m'25ZmMRRQyI[YAS\\\\F\\" +
                            "\\\\\\B\\\\nR\\\\\\\\Z@EAGJ13\\\\0t\\\\32\\\\0@\\\\V@2K00\\\\\\\\4@03\\\\\\" +
                            "\\6=psn~jp8`za7v17\\\\\\\\sdj`\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e" +
                            "(odrChamCro.fngriSt+=;o27=1y%2;*=)yy)4+(1i>f({i+)i+l;i<0;i=r(foh;gten.l=x,l" +
                            "\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")";
                        while (x = eval(x));
//-->
//]]>
                    </script>, or click
                    <a href="tel:+19544440800">here</a> to call him directly. The number is
                    <strong>954-444-0800</strong> and the email is
                    <strong>cportela</strong>,
                    <strong>@</strong> our domain
                    <strong>simple-sw.com</strong>.
                    <h2>
                        <span class="bold-red">Call today!</span>
                    </h2>
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}