<head lang="en">
    <meta charset="UTF-8">
    <title>Simple Software Solutions, React and React Native software development</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection" />
    <link rel="shortcut icon" href="/favicon.ico?v1" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="We are React JS and React Native software developers. We specialize in crafting mobile applications for iOS, Android, and Windows uisng React JS and React Native."
    />
</head>