<header class="home-header">
    <div class="container">
        <span class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Simple Software Solutions">
            </a>
        </span>
        <nav>
            <ul class="right hide-on-med-and-down">
                <li class="non-blog">
                    <a class="active" href="#intro" title="Intro">Intro</a>
                </li>
                <li class="non-blog">
                    <a href="#what" title="What We Do">What We Do</a>
                </li>
                <li class="non-blog">
                    <a href="#how" title="How We Do It">How We Do It</a>
                </li>
                <li class="non-blog">
                    <a href="#modus" title="Our Modus Operandi">Our Modus Operandi</a>
                </li>
                <li>
                    <a href="/blog/" title="Our Blog">Our Blog</a>
                </li>    
            </ul>
            <ul id="slide-out" class="side-nav">
                <li class="non-blog">
                    <a class="active" href="#intro" title="Intro">Intro</a>
                </li>
                <li class="non-blog">
                    <a href="#what" title="What We Do">What We Do</a>
                </li>
                <li class="non-blog">
                    <a href="#how" title="How We Do It">How We Do It</a>
                </li>
                <li class="non-blog">
                    <a href="#modus" title="Our Modus Operandi">Our Modus Operandi</a>
                </li>
                <li>
                    <a href="/blog/" title="Our Blog">Our Blog</a>
                </li>    
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
        </nav>
    </div>
</header>